* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
}

.element {
    text-align: center;
    line-height: 300px;
    font-size: 24px;
    background-color: #f5d781;
    width: 400px;
    height: 300px;
    padding: 20px 10px;
    margin: 30px auto;
    border: 10px solid blue;
}